.restaurante-container {

  padding: 40px;
  max-width: 80%;
  margin: auto;
  border-radius: 8px;
}

.titulo {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-restaurante {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.form-left, .form-right {
  width: 48%;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

textarea {
  height: 60px;
}

.logo-placeholder {
  width: 100%;
  height: 80px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #888;
  border-radius: 5px;
}

.horario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.back {
  background: #ccc;
}

.continue {
  background: #007bff;
  color: white;
}
