/* Estilos específicos para la página de Crear Reserva */

/* Contenedor principal de la página */
.crear-reserva-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Moverlo hacia arriba */
    min-height: 80vh; /* Cambié de 100vh a 80vh */
    background-color: #706f6f;
    padding-top: 20px; /* Espacio superior */
  }
  
  /* Contenido de la tarjeta de autenticación */
  .crear-reserva-content {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #292b2c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Estilo para la tarjeta del formulario */
  .crear-reserva-card {
    padding: 20px;
    text-align: center;
  }
  
  /* Título del formulario */
  .crear-reserva-card h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  /* Estilo común para los inputs y textarea */
  .crear-reserva-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f7f7f7;
  }
  
  /* Estilo para el botón de enviar */
  .crear-reserva-button {
    width: 100%;
    padding: 12px;
    background-color: #f39c12;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Efecto de hover en el botón de enviar */
  .crear-reserva-button:hover {
    background-color: #45a049;
  }
  
  /* Espaciado en la parte superior de los botones */
  .mt-4 {
    margin-top: 16px;
  }
  
  /* Responsive para dispositivos pequeños */
  @media (max-width: 600px) {
    .crear-reserva-container {
      padding: 20px;
    }
  
    .crear-reserva-content {
      width: 100%;
      max-width: 100%;
      padding: 15px;
    }
  
    .crear-reserva-card {
      padding: 15px;
    }
  
    .crear-reserva-button {
      padding: 10px;
      font-size: 14px;
    }
  }
  