/* ======== NAVBAR ======== */
.navbar {
  background-color: rgb(50, 54, 58); /* Color de fondo */
  height: 70px; /* Altura fija del navbar */
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  position: fixed; /* Fijado para que se quede arriba */
  top: 0; /* Siempre en la parte superior */
  left: 0;
  width: 100%; /* Abarca todo el ancho */
  z-index: 10; /* Asegura que el navbar esté encima del sidebar */
}
.container-fluid{
  padding: 0, 5 px;

}
/* Contenedor del logo */
.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%; /* Mantiene la altura */
}

/* Logo dentro del navbar */
.img-logo {
  margin-top: 10%;
  margin-left: -20%;
  height: 200px; /* Tamaño más grande */
  max-height: 700px; /* Límite para evitar que expanda el navbar */
  width: auto;
  object-fit: contain;
}

/* Links del navbar */
.nav-link {
  color: white !important;
  font-size: 16px;
  margin-left: 15px;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #f8f9fa !important;
}
