/* Estilos generales */
body {
    background-color: #E4E4E4FF; /* Fondo oscuro */
    color: #000000; /* Color dorado */
  }
 /*todos los label*/
 label{
  color: rgb(0, 0, 0);
}

  /* Contenedor principal */
  .container {
    margin-top: 50px;
  }
  .btn{
    background-color: #70bee2; /*reservas tien todos los colores azules de botones*/
    width: 20%;
  
    border-radius: 20px;
    
  }
  
  /* Títulos */
  h2 {
    color: #fdfdfd; /* color general de titulos letra */
    font-weight: bold;
    text-align: center;
  }
  
  /* Estilos de las tarjetas */
  .card {
    background-color: #333333; /* Fondo oscuro de la tarjeta */
    border:  solid #333333; /* Borde dorado */
   
  }

  
  /* Cuerpo de la tarjeta */
  .card-body {
    padding: 5px;
    width: auto;
    color: #000000; /* Color dorado */
  }
  
  /* Título dentro de la tarjeta */
  .card-title {
    color: #ffffff; /* Dorado */
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  /* Texto dentro de la tarjeta */
  .card-text {
    color: #000000; /* Color gris suave */
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  