/* Estilos generales */
body {
  background-color: #1c1c1e;
  color: #E9E9E9;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

/* Etiquetas */
label {
  color: #ffffff;
  font-weight: 500;
}

/* Contenedor principal */
.container {
  margin-top: 50px;
}

.text-centerAny {
  justify-content: center;
  padding: 20px;
  color: #000;
  text-align: center;
  font-size: 30px;
}

/* Botones */
.btn {
  background-color: #12d1f3;
  color: #000;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: bold;
  transition: all 0.3s ease;
  border: none;
  width: auto;
  min-width: 100px;
  text-align: center;
}

.btn:hover {
  opacity: 0.8;
}

/* Títulos */
h2 {
  color: #f39c12;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

/* Estilos para la sección de restaurantes */
.restaurantes-container {
  background-color: #E4E4E4FF;
  color: white;
  padding: 20px;
}

.restaurantes-title {
  font-size: 2.2rem;
  color: #f39c12;
  margin-bottom: 30px;
  text-align: center;
}

.restaurantes-titleytext-center {
  color: #000;
}

.restaurantes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.reservaDisponible,
.reservas-title{
  /* Tus estilos aquí */
  color: black; /* Ejemplo de color negro */
}


.repertorio-titulo{
  color: #000;
}
/* Responsividad */
@media (max-width: 1024px) {
  .restaurantes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .restaurantes-grid {
    grid-template-columns: 1fr;
  }
}

.restaurante-card {
  background-color: #292b2c;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.restaurante-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.restaurante-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #e6e6e6;
}

.restaurante-info h3 {
  font-size: 1.5rem;
  color: #ebebeb;
  margin-bottom: 10px;
}

.restaurante-info p {
  color: #ddd;
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Alineación de botones dentro de cada tarjeta */
.restaurante-card .d-flex {
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.restaurante-card .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  padding: 8px 12px;
  width: auto;
  min-width: 100px;
  text-align: center;
}

/* Estilos del Modal */
.modal-content {
  background-color: #292b2c;
  color: white;
  border-radius: 10px;
}

.modal-header {
  border-bottom: 1px solid #444;
}

.modal-footer {
  border-top: 1px solid #444;
}
